<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
<div class="space">
    <p>Products and prices:</p>
    <ul class="list-group list-group-flush" th:each="product: ${products}">
        <li class="list-group-item" th:text="${product}">Product</li>
    </ul><br/>
    <p style="font-weight: bold" th:text="|Total price  ${totalPrice}|"></p>
</div>
</body>
</html>