<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
<div class="space">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <th th:text="${product.getName()}">Product</th>
            <th th:text="${product.getPrice()}">Price</th>
        </tr>
        </tbody>
    </table>
    <h6 style="font-weight: bold" th:text="|Total price  ${totalPrice}|"></h6>
</div>
</body>
</html>